h1{
  font-family: 'Oswald', sans-serif;
}
h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
#contactInfo, #aboutInfo{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
/*------------------NAVBAR & TOP-------------------*/
#prestigeLogoPic{
  height: 60px;
  width: 155px;
}
.navi{
  list-style: none;
  margin:0px;
  margin-left:-15px;
  padding:0 0.1rem;
  top:0;
  overflow: hidden;
  background-color: #282733;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navi li a:hover{
  text-decoration: none;
  border-bottom: #c90211 3px solid;
}

.navi li{
  display: inline-block;
}

.navi li a{
  margin-top: 25px;
  color: white;
  margin-right: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.jumbotron {
  background-image:url('carwashbackground-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding:0;
}

section{
  padding-top: 85px;
}

/*------------------------ABOUT-------------------*/

#aboutInfo{
  text-align: center;
  top: 5px;
  font-weight: 700;
}

/*-----------------------PRICING------------------------*/
.fa-car:before, .fa-taxi:before, .fa-star:before {
    color: #e7d0b5;
}

th{
  background-color: black;
  font-size: 1.35rem;
  letter-spacing: 0.15rem;
  color: white;
}

#description{
 background-color: black;
 color: white;
}

#pricing{
  font-weight: bold;
  color: white;
  background-color: #7F0000;
}
#pricing2{
  font-weight: bold;
  color: black;
  background-color: white;
}

tfoot{
  color: white;
}
.tabletop2{
  background-color: black;
  color:white;
  text-align: bottom;
}

#fullShampoo{
  background-color: gray;
  color: white;
}

.side{
  background-color: #262626;
  color: white;
  font-style: italic;
}

/*----------------SPECIAL PART---------------------------*/
.specialRow{
  margin: auto;
  text-align: center
}

.specialhover{
  width:340px;
  height:190px;
  max-width: 100vw;
  background-size: 100%;
  border-radius: 15px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
  background-position: top center;
}

.specialhover:hover{
  background-position: bottom center;
  border: 1px lightgrey solid;
}

#seniorDisc{
  background-image:url('specials/senior.png');
}

#buy5{
  background-image: url('specials/buy.png');
}

#stamp{
  background-image: url('specials/stamp.png');
}

#gift{
  background-image: url('specials/gift.png');
}

/*----------------CONTACT & Bottom Bar--------------------------*/
#CONTACT{
  margin-top: -70px;
}

#map{
  width:100%;
  margin-bottom: 30px;
}

#botBar{
  height: 160px;
  background-color: #f5f5f5;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

#botBar a{
  color:#c90211;
  position: relative;
  top: 30%;
}

#botBar a:hover{
  color: #f0bc00;
}
p strong{
  font-weight: 700;
}
.card-header{
  background-color: #e4e4e4;
}

@media only screen and (max-width : 480px){
  html, body{
    width: 100%;
  }
  .navi li a{
    font-size: 1.1rem;
  }
  #botBar{
    height: 40vh;
  }
}
