h1{
font-family: 'Oswald', sans-serif;
}
h2{
  font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
}
/*------------------NAVBAR & TOP-------------------*/
#prestigeLogoPic{
  height: 60px;
  width: 155px;
  margin-left: 9px;
}

.navi{
  list-style: none;
  margin:0px;
  margin-left:-15px;
  padding:0px;
  overflow: hidden;
  background-color: rgba(5,5,5,1.0);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navi li{
  display: inline;
}

.navi li a{
  margin-top: 25px;
  color: white;
  margin-right: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15pt;
  font-weight: 700;
}

.jumbotron {
  background-image:url('carwashbackground.jpg');
  background-size: 100%;
  height:780px;
  padding:0px;
  background-position: center center;
}

.navadjustment{
    padding-top: 70px;
}

.top{
margin-top: -70px;
padding-bottom: 70px;
}

/*------------------------ABOUT-------------------*/


#aboutInfo{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16pt;
  text-align: center;
  top: 5px;
}

/*-----------------------PRICING------------------------*/

th{
  background-color: #800000 ;
  color: white;
  font-size: 14pt;
}

#pricing{
  font-size: 12pt;
  font-weight: bold;
  color: #800000;
}
#pricing2{
  font-size: 12pt;
  font-weight: bold;
  color: black;
}

tfoot{
  color: white;
  background-color:rgba(100,0,10,0.5);
}
.tabletop2{
  background-color: black;
  color:white;
  text-align: bottom;
}

#fullShampoo{
  background-color: gray;
  color: white;
}

.side{
  background-color: #262626;
  color: white;
  font-style: italic;
}

/*----------------SPECIAL PART---------------------------*/
.specialRow{
  margin: auto;
  text-align: center
}

.specialhover{
  width:340px;
  height:190px;
  background-size: 100%;
  border-radius: 15px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
}

#seniorDisc{
  padding-top: 0px;
  background-image:url('specials/senior_.png');
  background-position: center top;
}

#seniorDisc:hover{
  background-position: center bottom;
}

#buy5{
  background-image: url('specials/buy5_.png');
  background-position: top center;
}

#buy5:hover{
  background-position: bottom center;
}

#stamp{
  background-image: url('specials/stamp_.png');
  background-position: top center;
}

#stamp:hover{
  background-position: bottom center;
}

#shampoo{
  background-image: url('specials/shampoo_.png');
  background-position: top center;
}

#shampoo:hover{
  background-position: bottom center;
}

#gift{
  background-image: url('specials/gift2_.png');
  background-position: top center;
}

#gift:hover{
  background-position: bottom center;
}

/*----------------CONTACT & Bottom Bar--------------------------*/
#CONTACT{
  margin-top: -70px;
}
#contactInfo{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15pt;
  font-weight: 300;
}

#map{
  width:100%;
  margin-bottom: 30px;
}

#botBar{
  height: 20px;
  position: static;
  background-color: black;
}